<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Debug builds only: allow launching inner screens from adb for UI checks. -->
    <application>
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            tools:node="merge"
            tools:replace="android:exported" />
        <activity
            android:name=".ThankYouActivity"
            android:exported="true"
            tools:node="merge"
            tools:replace="android:exported" />
    </application>
</manifest>
