<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- CAMERA/INTERNET are contributed by the SDK manifest; CAMERA still has
         to be requested at runtime by this app before launching check-in. -->

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_bloomies"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WinkPos"
        tools:targetApi="34">

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ThankYouActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>
